<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Buttons</title>
</head>
<body>
    <h1>Welcome!</h1>

    <!-- Button 1 -->
    <a href="get_tenant">
        <button>Get Tenant</button>
    </a>
	<br><br>
    <!-- Button 2 -->
    <a href="inputtenant">
        <button>Input Tenant</button>
    </a>
    <br><br>
    <!-- Button 3 -->
    <a href="doc_upload_by_admin">
        <button>Upload Doc</button>
    </a>
    <br><br>
    <!-- Button 4 -->
    <a href="log_rent">
        <button>Log Rent</button>
    </a>
    <br><br>
    
   
    <!-- Button 5 -->
    <a href="rent_details">
        <button>Rent Details</button>
    </a>
    <br><br>
    
    
    <a href="/logout">Logout</a>'
</body>
</html>
